@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  min-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: inherit;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subject {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/* Colors */
/* .cold-light-blue {
  background-color: #83b3d3;
  color: #ffffff;
} */

/* .cold-light-blue .advantages-item-text {
  color: #ffffff;
} */

/* .special-cold-light12 {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
} */

/* .special-cold-light20 {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
} */

/* .green-light {
  background-color: #7db54f;
  color: #ffffff;
} */

.tagline {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.favorite-number {
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.promo {
  padding-top: 51px;
  padding-bottom: 80px;
  /* background-color: #82b3d3; */
  background:
    url("../images/index-promo-divider.svg") 0 428px no-repeat,
    url("../images/index-promo-background.jpg") no-repeat;
}

.advantages-text-block {
  width: 740px;
  padding-top: 60px;
  padding-right: 10px;
  padding-bottom: 81px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
}

.advantages-tagline {
  margin-bottom: 31px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  padding-top: 92px;
  /* padding-right: 85px; */
  padding-bottom: 92px;
  /* padding-left: 85px; */
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-basic-color {
  background-color: #ffffff;
  color: #000000;
}

.advantages-item-first-color {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-second-color {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-subject {
  margin-bottom: 30px;
}

.advantages-desc-first-color {
  color: #333333;
}

.search {
  width: 720px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 86px;
}

.search-tagline {
  margin-bottom: 30px;
}

.search-text {
  margin-bottom: 56px;
  text-align: center;
}

.search-button {
  display: block;
  width: 574px;
  margin: 0 auto;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-index {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-tagline {
  margin-bottom: 29px;
}

.subscribe-text {
  margin-bottom: 46px;
}

.subscribe-index .subscribe-text {
  color: #ffffff;
}

.subscribe-field {
  padding: 20px 22px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-about-link {
  display: block;
  width: 115px;
}

.inner-filter-wrapper {
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
}

.catalog-filter-group {
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  display: inline-block;
  margin-bottom: 15px;
}

.button-submit {
  background-color: #82b3d3;
}

.button-clear {
  background-color: inherit;
  text-transform: none;
}

.catalog-products {
  padding-top: 60px;
}

.inner-text-search {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card span {
  display: inline-block;
  color: #333333;
}

.button-second {
  background-color: #83b3d3;
}

.button-select {
  background-color: #7db54f;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  margin-bottom: 5px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select-pagination {
  color: #333333;
}

.select-control {
  width: 160px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
